In [22]:
%load_ext sql
%sql mysql://root:meow@localhost/Game

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: root@Game'

In [23]:
%%sql 
USE Game;
CREATE TABLE Regions (
    region_id INT PRIMARY KEY,
    region_name VARCHAR(255) CHECK (region_name IN ('Valoria', 'Cimmeria', 'Elphora', 'Orynthia'))
);

-- NPCs Table
CREATE TABLE NPCs (
    npc_id INT PRIMARY KEY,
    npc_name VARCHAR(255),
    npc_type VARCHAR(255),
    npc_location INT,
    FOREIGN KEY (npc_location) REFERENCES Regions (region_id)
);


CREATE TABLE Rulers (
    region_id INT,
    NPC_id INT,
    FOREIGN KEY (region_id) REFERENCES Regions (region_id),
    FOREIGN KEY (NPC_id) REFERENCES NPCs (npc_id)
);

-- Races Table
CREATE TABLE Races (
    RaceID INT PRIMARY KEY,
    RaceName VARCHAR(255)
);

-- Classes Table
CREATE TABLE Classes (
    ClassID INT PRIMARY KEY,
    ClassName VARCHAR(255) CHECK (ClassName IN ('warrior', 'mage', 'archer', 'healer'))
);

-- SkillTrees Table
CREATE TABLE SkillTrees (
    SkillTreeID INT PRIMARY KEY,
    SkillTreeName VARCHAR(255)
);

-- Player Table
CREATE TABLE Player (
    PlayerID INT PRIMARY KEY,
    PlayerName VARCHAR(255),
    RaceID INT,
    ClassID INT,
    SkillTreeID INT,
    CosmeticsID INT,
    starting_region_id INT,
    Experience_points INT,
    Gold_amount INT,
    Health_Points INT,
    Attack_Damage INT,
    Defense INT,
    FOREIGN KEY (RaceID) REFERENCES Races (RaceID),
    FOREIGN KEY (ClassID) REFERENCES Classes (ClassID),
    FOREIGN KEY (SkillTreeID) REFERENCES SkillTrees (SkillTreeID),
    FOREIGN KEY (starting_region_id) REFERENCES Regions (region_id)
);

-- Enemy Table
CREATE TABLE Enemy (
    enemyID INT PRIMARY KEY,
    enemyName VARCHAR(255),
    enemyType VARCHAR(255) CHECK (enemyType IN ('goblins', 'wolves', 'shadow minions', 'boss')),
    Health_Points INT,
    Attack_Damage INT,
    Defense INT
);

-- Combat Table
CREATE TABLE Combat (
    log_id INT PRIMARY KEY,
    attacker_id INT,
    defender_id INT,
    combat_type VARCHAR(255) CHECK (combat_type IN ('PVP', 'PVE')),
    result VARCHAR(255) CHECK (result IN ('Win', 'Loss', 'Tie')),
    timestamp TIMESTAMP,
    FOREIGN KEY (attacker_id) REFERENCES Player (PlayerID) ON DELETE CASCADE,
    FOREIGN KEY (defender_id) REFERENCES Player (PlayerID) ON DELETE CASCADE
);

-- Cosmetics Table
CREATE TABLE Cosmetics (
    CosmeticID INT PRIMARY KEY,
    OutfitID INT,
    WeaponSkinID INT,
    EmoteID INT
);


-- Quests Table
CREATE TABLE Quests (
    quest_id INT PRIMARY KEY,
    quest_name VARCHAR(255),
    quest_description TEXT,
    quest_reward VARCHAR(255),
    quest_giver_id INT,
    difficulty_level INT,
    FOREIGN KEY (quest_giver_id) REFERENCES NPCs (npc_id)
);

-- Teams Table
CREATE TABLE Teams (
    TeamID INT PRIMARY KEY,
    TeamName VARCHAR(255),
    LeaderPlayerID INT,
    FOREIGN KEY (LeaderPlayerID) REFERENCES Player (PlayerID)
);

-- TeamPlayers Table
CREATE TABLE TeamPlayers (
    TeamPlayerID INT PRIMARY KEY,
    TeamID INT,
    PlayerID INT,
    TeamRole VARCHAR(255)
);

-- Items Table
CREATE TABLE Items (
    item_id INT PRIMARY KEY,
    item_name VARCHAR(255),
    item_type VARCHAR(255),
    item_description TEXT,
    item_value INT
);

-- Player Inventory Table
CREATE TABLE PlayerInventory (
    InventoryID INT PRIMARY KEY,
    PlayerID INT,
    ItemID INT,
    Quantity INT
);

-- Crafting Table
CREATE TABLE Crafting (
    CraftID INT PRIMARY KEY,
    CraftName VARCHAR(255),
    CraftDescription TEXT,
    RequiredItems INT,
    FOREIGN KEY (RequiredItems) REFERENCES Items (item_id)
);

-- Events Table
CREATE TABLE Events (
    EventID INT PRIMARY KEY,
    EventName VARCHAR(255),
    EventType VARCHAR(255),
    StartDate DATETIME,
    EndDate DATETIME,
    EventItems INT,
    EventChallenges INT,
    EventTrigger TEXT
);

-- Guilds Table
CREATE TABLE Guilds (
    guild_id INT PRIMARY KEY,
    guild_name VARCHAR(255),
    Guild_type VARCHAR(255),
    guild_leader_id INT,
    guild_property VARCHAR(255),
    guild_funds INT
);

-- Guild_Members Table
CREATE TABLE GuildMembers (
    guild_id INT,
    player_id INT
);

-- Auction Table
CREATE TABLE Auction (
    auction_id INT PRIMARY KEY,
    seller_id INT,
    item_id INT,
    starting_price INT,
    current_bid INT,
    end_time DATETIME,
    status VARCHAR(255)
);

-- DirectTrades Table
CREATE TABLE DirectTrades (
    trade_id INT PRIMARY KEY,
    initiator_id INT,
    receiver_id INT,
    offered_item_id INT,
    requested_item_id INT,
    status VARCHAR(255)
);

 * mysql://root:***@localhost/Game
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [24]:
%%sql 
USE Game;
-- Insert sample data into the Regions table
INSERT INTO Regions (region_id, region_name)
VALUES
    (1, 'Valoria'),
    (2, 'Cimmeria'),
    (3, 'Elphora'),
    (4, 'Orynthia');

-- Insert sample data into the NPCs table
INSERT INTO NPCs (npc_id, npc_name, npc_type, npc_location)
VALUES
    (1, 'NPC1', 'Type1', 1),
    (2, 'NPC2', 'Type2', 2),
    (3, 'NPC3', 'Type1', 3),
    (4, 'NPC4', 'Type2', 4),
    (5, 'NPC5', 'Type3', 1);

-- Insert sample data into the Rulers table
INSERT INTO Rulers (region_id, NPC_id)
VALUES
    (1, 1),
    (2, 2),
    (3, 3);

-- Insert sample data into the Races table
INSERT INTO Races (RaceID, RaceName)
VALUES
    (1, 'Human'),
    (2, 'Elf'),
    (3, 'Dwarf'),
    (4, 'Orc');

-- Insert sample data into the Classes table
INSERT INTO Classes (ClassID, ClassName)
VALUES
    (1, 'warrior'),
    (2, 'mage'),
    (3, 'archer'),
    (4, 'healer');
-- Insert sample data into the SkillTrees table
INSERT INTO SkillTrees (SkillTreeID, SkillTreeName)
VALUES
    (1, 'Combat Skills'),
    (2, 'Magic Spells'),
    (3, 'Archery Techniques');

-- Insert sample data into the Player table
INSERT INTO Player (PlayerID, PlayerName, RaceID, ClassID, SkillTreeID, CosmeticsID, starting_region_id, Experience_points, Gold_amount, Health_Points, Attack_Damage, Defense)
VALUES
    (1, 'Player1', 1, 1, 1, 1, 1, 1000, 500, 200, 50, 30),
    (2, 'Player2', 2, 2, 2, 2, 2, 1200, 600, 180, 40, 35),
    (3, 'Player3', 3, 3, 3, 3, 3, 800, 700, 220, 45, 25),
    (4, 'Player4', 1, 4, 1, 4, 4, 1500, 450, 250, 60, 40),
    (5, 'Player5', 2, 1, 2, 5, 1, 1400, 550, 210, 55, 32);

-- Insert sample data into the Enemy table
INSERT INTO Enemy (enemyID, enemyName, enemyType, Health_Points, Attack_Damage, Defense)
VALUES
    (1, 'Goblin1', 'goblins', 100, 30, 10),
    (2, 'Wolf1', 'wolves', 120, 40, 15),
    (3, 'Shadow Minion', 'shadow minions', 200, 50, 20),
    (4, 'Boss1', 'boss', 500, 100, 60);

-- Insert sample data into the Combat table
INSERT INTO Combat (log_id, attacker_id, defender_id, combat_type, result, timestamp)
VALUES
    (1, 1, 2, 'PVP', 'Win', '2023-10-15 12:00:00'),
    (2, 2, 3, 'PVE', 'Loss', '2023-10-15 13:30:00'),
    (3, 4, 3, 'PVP', 'Win', '2023-10-15 15:15:00'),
    (4, 5, 1, 'PVE', 'Loss', '2023-10-15 17:45:00'),
    (5, 1, 4, 'PVE', 'Tie', '2023-10-15 19:20:00');

-- Insert sample data into the Cosmetics table
INSERT INTO Cosmetics (CosmeticID, OutfitID, WeaponSkinID, EmoteID)
VALUES
    (1, 1, 1, 1),
    (2, 2, 2, 2),
    (3, 3, 3, 3);

-- Insert sample data into the Quests table
INSERT INTO Quests (quest_id, quest_name, quest_description, quest_reward, quest_giver_id, difficulty_level)
VALUES
    (1, 'Quest1', 'Defeat goblins in Valoria', 'Gold', 1, 2),
    (2, 'Quest2', 'Retrieve a magical artifact', 'XP', 2, 3),
    (3, 'Quest3', 'Hunt wolves in Cimmeria', 'Gold', 1, 1),
    (4, 'Quest4', 'Defeat the Shadow Minion', 'XP', 3, 4),
    (5, 'Quest5', 'Challenge the Boss', 'Gold', 4, 5);

 * mysql://root:***@localhost/Game
0 rows affected.
4 rows affected.
5 rows affected.
3 rows affected.
4 rows affected.
4 rows affected.
3 rows affected.
5 rows affected.
4 rows affected.
5 rows affected.
3 rows affected.
5 rows affected.

[]