In [22]:
%load_ext sql
%sql mysql://root:meow@localhost/Game

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: root@Game'

In [23]:
%%sql 
USE Game;
CREATE TABLE Regions (
    region_id INT PRIMARY KEY,
    region_name VARCHAR(255) CHECK (region_name IN ('Valoria', 'Cimmeria', 'Elphora', 'Orynthia'))
);

-- NPCs Table
CREATE TABLE NPCs (
    npc_id INT PRIMARY KEY,
    npc_name VARCHAR(255),
    npc_type VARCHAR(255),
    npc_location INT,
    FOREIGN KEY (npc_location) REFERENCES Regions (region_id)
);


CREATE TABLE Rulers (
    region_id INT,
    NPC_id INT,
    FOREIGN KEY (region_id) REFERENCES Regions (region_id),
    FOREIGN KEY (NPC_id) REFERENCES NPCs (npc_id)
);

-- Races Table
CREATE TABLE Races (
    RaceID INT PRIMARY KEY,
    RaceName VARCHAR(255)
);

-- Classes Table
CREATE TABLE Classes (
    ClassID INT PRIMARY KEY,
    ClassName VARCHAR(255) CHECK (ClassName IN ('warrior', 'mage', 'archer', 'healer'))
);

-- SkillTrees Table
CREATE TABLE SkillTrees (
    SkillTreeID INT PRIMARY KEY,
    SkillTreeName VARCHAR(255)
);

-- Player Table
CREATE TABLE Player (
    PlayerID INT PRIMARY KEY,
    PlayerName VARCHAR(255),
    RaceID INT,
    ClassID INT,
    SkillTreeID INT,
    CosmeticsID INT,
    starting_region_id INT,
    Experience_points INT,
    Gold_amount INT,
    Health_Points INT,
    Attack_Damage INT,
    Defense INT,
    FOREIGN KEY (RaceID) REFERENCES Races (RaceID),
    FOREIGN KEY (ClassID) REFERENCES Classes (ClassID),
    FOREIGN KEY (SkillTreeID) REFERENCES SkillTrees (SkillTreeID),
    FOREIGN KEY (starting_region_id) REFERENCES Regions (region_id)
);

-- Enemy Table
CREATE TABLE Enemy (
    enemyID INT PRIMARY KEY,
    enemyName VARCHAR(255),
    enemyType VARCHAR(255) CHECK (enemyType IN ('goblins', 'wolves', 'shadow minions', 'boss')),
    Health_Points INT,
    Attack_Damage INT,
    Defense INT
);

-- Cosmetics Table
CREATE TABLE Cosmetics (
    CosmeticID INT PRIMARY KEY,
    OutfitID INT,
    WeaponSkinID INT,
    EmoteID INT
);


-- Quests Table
CREATE TABLE Quests (
    quest_id INT PRIMARY KEY,
    quest_name VARCHAR(255),
    quest_description TEXT,
    quest_reward VARCHAR(255),
    quest_giver_id INT,
    difficulty_level INT,
    FOREIGN KEY (quest_giver_id) REFERENCES NPCs (npc_id)
);

-- Teams Table
CREATE TABLE Teams (
    TeamID INT PRIMARY KEY,
    TeamName VARCHAR(255),
    LeaderPlayerID INT,
    FOREIGN KEY (LeaderPlayerID) REFERENCES Player (PlayerID)
);

-- TeamPlayers Table
CREATE TABLE TeamPlayers (
    TeamPlayerID INT PRIMARY KEY,
    TeamID INT,
    PlayerID INT,
    TeamRole VARCHAR(255)
);

-- Items Table
CREATE TABLE Items (
    item_id INT PRIMARY KEY,
    item_name VARCHAR(255),
    item_type VARCHAR(255),
    item_description TEXT,
    item_value INT
);

-- Player Inventory Table
CREATE TABLE PlayerInventory (
    InventoryID INT PRIMARY KEY,
    PlayerID INT,
    ItemID INT,
    Quantity INT
);

-- Crafting Table
CREATE TABLE Crafting (
    CraftID INT PRIMARY KEY,
    CraftName VARCHAR(255),
    CraftDescription TEXT,
    RequiredItems INT,
    FOREIGN KEY (RequiredItems) REFERENCES Items (item_id)
);

-- Events Table
CREATE TABLE Events (
    EventID INT PRIMARY KEY,
    EventName VARCHAR(255),
    EventType VARCHAR(255),
    StartDate DATETIME,
    EndDate DATETIME,
    EventItems INT,
    EventChallenges INT,
    EventTrigger TEXT
);

-- Guilds Table
CREATE TABLE Guilds (
    guild_id INT PRIMARY KEY,
    guild_name VARCHAR(255),
    Guild_type VARCHAR(255),
    guild_leader_id INT,
    guild_property VARCHAR(255),
    guild_funds INT
);

-- Guild_Members Table
CREATE TABLE GuildMembers (
    guild_id INT,
    player_id INT
);

-- Auction Table
CREATE TABLE Auction (
    auction_id INT PRIMARY KEY,
    seller_id INT,
    item_id INT,
    starting_price INT,
    current_bid INT,
    end_time DATETIME,
    status VARCHAR(255)
);

-- DirectTrades Table
CREATE TABLE DirectTrades (
    trade_id INT PRIMARY KEY,
    initiator_id INT,
    receiver_id INT,
    offered_item_id INT,
    requested_item_id INT,
    status VARCHAR(255)
);

-- CombatSessions Table
CREATE TABLE CombatSessions (
    combat_id INT PRIMARY KEY,
    entity1_id INT,
    entity2_id INT,
    entity2_type ENUM('Player', 'Enemy'),
    combat_type ENUM('PVP', 'PVE'),
    start_time DATETIME,
    end_time DATETIME,
    result ENUM('Win', 'Loss', 'Tie'),
    location VARCHAR(255)
);

-- CombatActions Table
CREATE TABLE CombatActions (
    action_id INT PRIMARY KEY,
    combat_id INT,
    actor_id INT,
    action_type VARCHAR(255), -- You can further define an ENUM for action types
    target_id INT,
    damage_dealt INT DEFAULT 0,
    item_used_id INT, -- Nullable, so it can be NULL
    timestamp DATETIME,
    FOREIGN KEY (combat_id) REFERENCES CombatSessions(combat_id),
    FOREIGN KEY (actor_id) REFERENCES PlayerOrEnemy(id), -- Assuming you have a PlayerOrEnemy table
    FOREIGN KEY (target_id) REFERENCES PlayerOrEnemy(id), -- Assuming you have a PlayerOrEnemy table
    FOREIGN KEY (item_used_id) REFERENCES Items(id) -- Assuming you have an Items table
);

-- CombatRewards Table
CREATE TABLE CombatRewards (
    reward_id INT PRIMARY KEY,
    combat_id INT,
    player_id INT,
    item_id INT, -- Nullable, so it can be NULL
    gold INT DEFAULT 0,
    experience INT DEFAULT 0,
    FOREIGN KEY (combat_id) REFERENCES CombatSessions(combat_id),
    FOREIGN KEY (player_id) REFERENCES Player(id), -- Assuming you have a Player table
    FOREIGN KEY (item_id) REFERENCES Items(id) -- Assuming you have an Items table
);

 * mysql://root:***@localhost/Game
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [ ]:
%%sql 
USE Game;
-- Sample data for Regions Table
INSERT INTO Regions (region_id, region_name)
VALUES
    (1, 'Valoria'),
    (2, 'Cimmeria'),
    (3, 'Elphora'),
    (4, 'Orynthia');

-- Sample data for NPCs Table
INSERT INTO NPCs (npc_id, npc_name, npc_type, npc_location)
VALUES
    (1, 'NPC1', 'Type1', 1),
    (2, 'NPC2', 'Type2', 2),
    (3, 'NPC3', 'Type3', 1),
    (4, 'NPC4', 'Type2', 3),
    (5, 'NPC5', 'Type1', 4);

-- Sample data for Rulers Table
INSERT INTO Rulers (region_id, NPC_id)
VALUES
    (1, 1),
    (2, 2),
    (3, 3),
    (4, 4),
    (1, 5);

-- Sample data for Races Table
INSERT INTO Races (RaceID, RaceName)
VALUES
    (1, 'Human'),
    (2, 'Elf'),
    (3, 'Dwarf');

-- Sample data for Classes Table
INSERT INTO Classes (ClassID, ClassName)
VALUES
    (1, 'Warrior'),
    (2, 'Mage'),
    (3, 'Archer'),
    (4, 'Healer');

-- Sample data for SkillTrees Table
INSERT INTO SkillTrees (SkillTreeID, SkillTreeName)
VALUES
    (1, 'SkillTree1'),
    (2, 'SkillTree2');

-- Sample data for Player Table
INSERT INTO Player (PlayerID, PlayerName, RaceID, ClassID, SkillTreeID, CosmeticsID, starting_region_id, Experience_points, Gold_amount, Health_Points, Attack_Damage, Defense)
VALUES
    (1, 'Player1', 1, 1, 1, 1, 1, 100, 1000, 150, 20, 10),
    (2, 'Player2', 2, 2, 2, 2, 2, 150, 800, 120, 25, 8),
    (3, 'Player3', 3, 3, 1, 3, 3, 120, 900, 130, 22, 12),
    (4, 'Player4', 1, 4, 2, 1, 4, 200, 1200, 160, 18, 15),
    (5, 'Player5', 2, 1, 1, 3, 1, 180, 1100, 140, 30, 6);

-- Sample data for Enemy Table
INSERT INTO Enemy (enemyID, enemyName, enemyType, Health_Points, Attack_Damage, Defense)
VALUES
    (1, 'Goblin1', 'goblins', 50, 10, 5),
    (2, 'Wolf1', 'wolves', 60, 15, 8),
    (3, 'Shadow Minion', 'shadow minions', 80, 20, 10),
    (4, 'Boss1', 'boss', 200, 40, 25),
    (5, 'Goblin2', 'goblins', 50, 10, 5);

-- Sample data for Cosmetics Table
INSERT INTO Cosmetics (CosmeticID, OutfitID, WeaponSkinID, EmoteID)
VALUES
    (1, 1, 2, 3),
    (2, 3, 1, 4),
    (3, 2, 3, 2),
    (4, 1, 2, 1),
    (5, 3, 1, 2);

-- Sample data for Quests Table
INSERT INTO Quests (quest_id, quest_name, quest_description, quest_reward, quest_giver_id, difficulty_level)
VALUES
    (1, 'Quest1', 'Description for Quest1', 'Reward1', 1, 2),
    (2, 'Quest2', 'Description for Quest2', 'Reward2', 2, 3),
    (3, 'Quest3', 'Description for Quest3', 'Reward3', 3, 1),
    (4, 'Quest4', 'Description for Quest4', 'Reward4', 4, 2),
    (5, 'Quest5', 'Description for Quest5', 'Reward5', 5, 3);

-- Sample data for Teams Table
INSERT INTO Teams (TeamID, TeamName, LeaderPlayerID)
VALUES
    (1, 'Team1', 1),
    (2, 'Team2', 2),
    (3, 'Team3', 3),
    (4, 'Team4', 4),
    (5, 'Team5', 5);

-- Sample data for TeamPlayers Table
INSERT INTO TeamPlayers (TeamPlayerID, TeamID, PlayerID, TeamRole)
VALUES
    (1, 1, 1, 'Leader'),
    (2, 1, 2, 'Member'),
    (3, 2, 3, 'Leader'),
    (4, 2, 4, 'Member'),
    (5, 3, 5, 'Leader');

-- Sample data for Items Table
INSERT INTO Items (item_id, item_name, item_type, item_description, item_value)
VALUES
    (1, 'Item1', 'Type1', 'Description for Item1', 10),
    (2, 'Item2', 'Type2', 'Description for Item2', 15),
    (3, 'Item3', 'Type1', 'Description for Item3', 20),
    (4, 'Item4', 'Type3', 'Description for Item4', 5),
    (5, 'Item5', 'Type2', 'Description for Item5', 12);

-- Sample data for Player Inventory Table
INSERT INTO PlayerInventory (InventoryID, PlayerID, ItemID, Quantity)
VALUES
    (1, 1, 1, 5),
    (2, 1, 2, 3),
    (3, 2, 3, 2),
    (4, 3, 4, 1),
    (5, 4, 5, 4);

-- Sample data for Crafting Table
INSERT INTO Crafting (CraftID, CraftName, CraftDescription, RequiredItems)
VALUES
    (1, 'Craft1', 'Description for Craft1', 1),
    (2, 'Craft2', 'Description for Craft2', 2),
    (3, 'Craft3', 'Description for Craft3', 3),
    (4, 'Craft4', 'Description for Craft4', 4),
    (5, 'Craft5', 'Description for Craft5', 5);

-- Sample data for Events Table
INSERT INTO Events (EventID, EventName, EventType, StartDate, EndDate, EventItems, EventChallenges, EventTrigger)
VALUES
    (1, 'Event1', 'Type1', '2023-01-01 00:00:00', '2023-01-10 00:00:00', 1, 3, 'Trigger1'),
    (2, 'Event2', 'Type2', '2023-02-01 00:00:00', '2023-02-10 00:00:00', 2, 2, 'Trigger2'),
    (3, 'Event3', 'Type1', '2023-03-01 00:00:00', '2023-03-10 00:00:00', 3, 1, 'Trigger3'),
    (4, 'Event4', 'Type3', '2023-04-01 00:00:00', '2023-04-10 00:00:00', 4, 4, 'Trigger4'),
    (5, 'Event5', 'Type2', '2023-05-01 00:00:00', '2023-05-10 00:00:00', 5, 5, 'Trigger5');

-- Sample data for Guilds Table
INSERT INTO Guilds (guild_id, guild_name, Guild_type, guild_leader_id, guild_property, guild_funds)
VALUES
    (1, 'Guild1', 'Type1', 1, 'Property1', 1000),
    (2, 'Guild2', 'Type2', 2, 'Property2', 2000),
    (3, 'Guild3', 'Type1', 3, 'Property3', 1500),
    (4, 'Guild4', 'Type3', 4, 'Property4', 1200),
    (5, 'Guild5', 'Type2', 5, 'Property5', 1800);

-- Sample data for Guild_Members Table
INSERT INTO GuildMembers (guild_id, player_id)
VALUES
    (1, 1),
    (2, 2),
    (3, 3),
    (4, 4),
    (5, 5);

-- Sample data for Auction Table
INSERT INTO Auction (auction_id, seller_id, item_id, starting_price, current_bid, end_time, status)
VALUES
    (1, 1, 1, 10, 12, '2023-01-15 12:00:00', 'Open'),
    (2, 2, 2, 15, 18, '2023-02-15 12:00:00', 'Open'),
    (3, 3, 3, 20, 22, '2023-03-15 12:00:00', 'Closed'),
    (4, 4, 4, 5, 7, '2023-04-15 12:00:00', 'Open'),
    (5, 5, 5, 12, 14, '2023-05-15 12:00:00', 'Closed');

-- Sample data for DirectTrades Table
INSERT INTO DirectTrades (trade_id, initiator_id, receiver_id, offered_item_id, requested_item_id, status)
VALUES
    (1, 1, 2, 1, 2, 'Pending'),
    (2, 2, 3, 2, 3, 'Accepted'),
    (3, 3, 4, 3, 4, 'Completed'),
    (4, 4, 5, 4, 5, 'Pending'),
    (5, 5, 1, 5, 1, 'Declined');

-- Sample data for CombatSessions Table
INSERT INTO CombatSessions (combat_id, entity1_id, entity2_id, entity2_type, combat_type, start_time, end_time, result, location)
VALUES
    (1, 1, 2, 'Player', 'PVP', '2023-01-01 14:30:00', '2023-01-01 15:15:00', 'Win', 'Valoria, Eastern Plains'),
    (2, 2, 3, 'Player', 'PVE', '2023-02-01 19:45:00', '2023-02-01 20:30:00', 'Loss', 'Cimmeria, Forest'),
    (3, 4, 5, 'Player', 'PVP', '2023-03-01 10:00:00', '2023-03-01 11:00:00', 'Tie', 'Elphora, Mountains'),
    (4, 1, 4, 'Enemy', 'PVE', '2023-04-01 08:00:00', '2023-04-01 08:45:00', 'Loss', 'Orynthia, Dungeon'),
    (5, 3, 2, 'Player', 'PVP', '2023-05-01 16:20:00', '2023-05-01 17:10:00', 'Win', 'Valoria, Eastern Plains');

-- Sample data for CombatActions Table
INSERT INTO CombatActions (action_id, combat_id, actor_id, action_type, target_id, damage_dealt, item_used_id, timestamp)
VALUES
    (1, 1, 1, 'Attack', 2, 25, 1, '2023-01-01 14:45:00'),
    (2, 2, 2, 'Defend', 3, 0, NULL, '2023-02-01 20:05:00'),
    (3, 3, 4, 'Use Item', 5, 0, 2, '2023-03-01 10:30:00'),
    (4, 4, 1, 'Attack', 4, 30, 3, '2023-04-01 08:15:00'),
    (5, 5, 3, 'Attack', 2, 20, NULL, '2023-05-01 16:45:00');

-- Sample data for CombatRewards Table
INSERT INTO CombatRewards (reward_id, combat_id, player_id, item_id, gold, experience)
VALUES
    (1, 1, 1, 1, 50, 100),
    (2, 2, 2, NULL, 30, 75),
    (3, 3, 3, 2, 40, 90),
    (4, 4, 4, 3, 20, 50),
    (5, 5, 5, 4, 60, 120);